html {
background-color: #FFFFFF;
margin-left: 250px;
margin-right: 250px;
}

.title {
text-align: center;
font-family: 'Nova Square', cursive;
font-size: 36px;
}

.content {
font-family: 'Duru Sans', sans-serif;
font-size: 18px;
}

b.name {
color: #B22222;
}

b.roles {
color: #B22222;
}

b.skills {
color: #B22222;
font-size: 20px;
}

#contact {
text-align: center;
font-size: 22px;
}

a {
color: #B22222;
}
