html {
background-color: #FFFFFF;
margin-left: 200px;
margin-right: 200px;
}

h2 {
	font-family: 'Nova Square', cursive;
}

.title {
text-align: center;
font-family: 'Nova Square', cursive;
font-size: 32px;
font-weight: bold;
}

.content {
background-color: #FFFFFF;
text-align: center;
font-family: 'Duru Sans', sans-serif;
font-size: 14px;
}

a#email {
	font-size:24px;
}

img#me {
	border: 1px solid #000000;
}

div#footer {
	font-size: 10px;
}